@keyframes rotate-gradient {
  to {
    transform: rotate(180deg);
    width: 200%
  }
}
тзь
.advantages {
 margin-bottom: 65px;

  @media (max-width: 1300px) {
    padding: 0 12px;
  }

  @media (max-width: 425px) {
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: 700px) {
      font-size: 26px;
    }

    span {
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      color: #ff2549;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @media (max-width: 1300px) {
      justify-content: center;
    }
  }

  &__item-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 45px) / 4);
    max-width: 366px;
    padding: 1px;
    height: 254px;
    border-radius: 6px;
    box-shadow: 0 12px 29px -5px rgba(0, 0, 0, 0.42);
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      display: block;
      background: linear-gradient(340deg, rgb(8, 8, 8) 0%, rgb(255, 37, 73) 50%, rgb(8, 8, 8) 80%);
      width: 110%;
      height: 110%;
      z-index: 1;
    }

    &:hover {
      &::before {
        animation: rotate-gradient linear  5s normal infinite ;
      }
    }

    @media (max-width: 1300px) {
      width: calc((100% - 30px) / 3);
    }

    @media (max-width: 1000px) {
      width: calc((100% - 15px) / 2);
    }

    @media (max-width: 650px) {
      width: 100%;
    }

    &:nth-child(2) {
      &::before {
      background: linear-gradient(174deg, rgb(8, 8, 8) 5%, rgb(255, 37, 73) 45%, rgb(8, 8, 8) 80%);
      }
      padding: 0 1px 0 1px;

    }

    &:nth-child(3) {
      &::before {
      background: linear-gradient(-45deg, rgba(8,8,8,1) 20%, rgba(255,37,73,1) 50%, rgba(8,8,8,1) 80%);
      }
    }

    &:nth-child(4) {
      &::before {
      background: linear-gradient(45deg, rgba(255,37,73,1) 0%, rgba(8,8,8,1) 47%, rgba(8,8,8,1) 50%, rgba(255,37,73,1) 100%);
      }
    }
    &:nth-child(5) {
      &::before {
      background: linear-gradient(80deg, rgb(8, 8, 8) 20%, rgb(255, 37, 73) 50%, rgb(255, 37, 73) 60%, rgb(8, 8, 8) 85%);
      }
    }
    &:nth-child(6) {
      &::before {
      background: linear-gradient(42deg, rgb(8, 8, 8) 10%, rgb(255, 37, 73) 50%, rgb(8, 8, 8) 80%);
      }
    }
    &:nth-child(7) {
      &::before {
      background: linear-gradient(312deg, rgb(8, 8, 8) 5%, rgb(255, 37, 73) 40%, rgb(8, 8, 8) 79%);
      }
    }
    &:nth-child(8) {
      &::before {
      background: linear-gradient(312deg, rgb(8, 8, 8) 5%, rgb(255, 37, 73) 40%, rgb(8, 8, 8) 79%);
      }
    }
  }

  &__item {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px 0;
    height: 100%;
    border-radius: 6px;
   box-shadow: 0 12px 29px -5px rgba(0, 0, 0, 0.42);
    background: #121212;
    z-index: 2;
  }

  &__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  &__item-img {
    width: 96px;
    height: 96px;
  }

  &__item-about {
    text-align: center;
    width: fit-content;
  }
}



.color-red {
  color: red;
}

.fsz30 {
  font-size: 30px;
}
