.feedback {
  background: #121212;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  padding: 40px 0 50px;

  @media (max-width: 550px) {
    padding: 30px 0;

  }

  &__container {
    max-width: 914px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    max-width: 570px;
    margin: 0 auto;

    @media (max-width: 768px) {
        font-size: 26px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  &__input {
    background: #080808;
    padding: 26px;
    font-weight: 600;
    border-radius: 8px;
    height: 72px;
    border: none;
    width: 282px;
    color: #f5f9ff;
    outline:none;

    @media (max-width: 1000px) {
      width: calc((100% - 15px) / 2);
    }

    @media (max-width: 550px) {
      width: 100%
    }

    &::-webkit-input-placeholder {
      color:    #f5f9ff;
    }
    &:-moz-placeholder {
      color:    #f5f9ff;
      opacity:  1;
    }
    &::-moz-placeholder {
      color:    #f5f9ff;
      opacity:  1;
    }
    &:-ms-input-placeholder {
      color:    #f5f9ff;
    }
    &::-ms-input-placeholder {
      color:    #f5f9ff;
    }

    &::placeholder {
      color:    #f5f9ff;
    }
  }



  &__input-telegram {
    margin-left: 14px;

    @media (max-width: 1000px) {
      width: 100%;
      margin-left: 0;
    }
  }

  &__input-massage {
      width: 100%;
      height: 220px;
      resize: none;

  }

  &__form-footer {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    @media (max-width: 850px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 30px 0;
    }
  }

  &__input-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    color: #A0A2A6;
    cursor: pointer;

    span {
      color: #ff2549;
      margin: 0 5px;
      display: contents;
    }
  }

  &__input-checkbox+&__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  &__input-checkbox+&__label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 6px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #f5f9ff;
  }

  &__input-checkbox:checked+&__label::before {
    background-color: #ff2549;
    background-image: url("@/assets/images/icons/mark-checkbox.svg");
  }

  &__btn {
    padding: 25px;
    max-width: 280px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: #FF2549;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    @media (max-width: 425px) {
      max-width: 100%;
    }

    &:hover {
      transform: translateX(-5px);
      box-shadow: 0 20px 20px -8px rgba(255, 37, 73, 0.5);;
    }
  }

}
