.main-wrap {
  background: url("@/assets/images/main-bg.jpg") #080808 no-repeat top center;
  position: relative;

  @media (max-width: 1440px) {
    background-position: -250px center;
  }

  @media (max-width: 768px) {
    background-position: -250px -150px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: rgba(8, 8, 8, 0.95);

  backdrop-filter: blur(5px);

  &__container {
    max-width: 1306px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 0 23px;
    height: 100%;

    @media (max-width: 768px) { display: none }
  }

  &__menu-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    &.active {
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #FF2549;
        border-radius: 2px 2px 0 0;
      }
    }
  }

  &__btn {
    background: rgba(255, 37, 73, 0.15);
    border: 1px solid #FF2549;
    border-radius: 50px;
    padding: 9px 24px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

    @media (max-width: 768px) {
      margin-left: auto;
      padding: 6px 12px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__hamburger {
    display: none;
    width: 20px;
    height: 20px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px 0;
    cursor: pointer;

    @media (max-width: 768px) {
      display: flex;
      margin-left: 20px;
    }

    span {
      width: 100%;
      height: 2px;
      background: #ffffff;
      border-radius: 50px;
      pointer-events: none;
      transition: all .3s;

      &:last-child {
        width: 70%;
      }
    }

      &.active {
        span {
          transform: rotate(135deg);
          transition: all .3s;

          &:nth-child(2) {
            transform: rotate(46deg);
            top: -7px;
            position: relative;
          }

          &:nth-child(3) {
            display: none;
          }
      }
    }
  }

  &__menu-mobile {
    position: fixed;
    z-index: 2;
    top: 60px;
    right: 0;
    display: none;
    flex-direction: column;
    background: rgba(8, 8, 8, 0.95);
    backdrop-filter: blur(5px);
    width: 320px;
    height: calc(100vh - 60px);
    padding: 30px 0;

    &.active {
      display: flex;
    }

    .header__menu-item {
      font-size: 16px;
      line-height: 20px;
      height: 50px;
      padding-left: 18px;
      color: #C0C0C0;
      font-weight: 500;

      &.active {
        color: #F5F9FF;
        font-weight: 600;

        &::before {
          left: 0;
          width: 6px;
          height: 100%;
          border-radius: 0 2px 2px 0;
        }
      }
    }
  }


}
