.main-wrap {
  background-image: url("@/assets/images/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #080808;
  z-index: 1;
  position: relative;
}

.header {
  background: rgba(8, 8, 8, 0.95);
  backdrop-filter: blur(5px);

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 0 23px;
    height: 100%;
  }

  &__menu-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__menu-item.active {
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      background: #FF2549;
      border-radius: 2px 2px 0 0;
    }
  }

  &__btn {
    background: rgba(255, 37, 73, 0.15);
    border: 1px solid #FF2549;
    border-radius: 50px;
    padding: 9px 24px;
  }
}