.services {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: -75px;
  z-index: 1;
  position: relative;
  margin-bottom: 100px;

  @media (max-width: 1300px) {
    padding: 0 12px;
  }

  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    margin-top: -75px;
  }

  @media (max-width: 425px) {
    margin-bottom: 45px;
  }

  &__item-wrap {
    min-width: 190px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 6);
    height: 164px;
    border-radius: 6px;
    box-shadow: 0 12px 29px -5px rgba(0, 0, 0, 0.42);
    background: linear-gradient(45deg, rgba(8,8,8,1) 20%, rgba(255,37,73,1) 50%, rgba(8,8,8,1) 80%);

    @media (max-width: 425px) {
      width: 100%;
      height: 142px;
    }

    &:nth-child(2) {
      padding: 0 1px 0 1px;
      background: linear-gradient(358deg, rgb(8, 8, 8) 5%, rgb(255, 37, 73) 50%, rgb(8, 8, 8) 100%);
    }

    &:nth-child(3) {
      background: linear-gradient(-45deg, rgba(8,8,8,1) 20%, rgba(255,37,73,1) 50%, rgba(8,8,8,1) 80%);
    }

    &:nth-child(4) {
      background: linear-gradient(45deg, rgba(255,37,73,1) 0%, rgba(8,8,8,1) 47%, rgba(8,8,8,1) 50%, rgba(255,37,73,1) 100%);
    }
    &:nth-child(5) {
      background: linear-gradient(60deg, rgba(8,8,8,1) 40%, rgba(255,37,73,1) 50%, rgba(255,37,73,1) 60%, rgba(8,8,8,1) 70%);
    }
    &:nth-child(6) {
      background: linear-gradient(-45deg, rgba(8,8,8,1) 30%, rgba(255,37,73,1) 50%, rgba(8,8,8,1) 90%);

    }
  }

  &__item {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background: #121212;
  }

  &__item-title {
    padding: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  &__item-info  {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    padding: 12px 15px;
    background: #080808;
  }

  &__item-price, &__item-term {
    span {
      color: #ff2549;
      margin-right: 5px;
    }
  }

}
