@use 'variables';
@use 'fonts';
@use 'typography';

html[scroll] {
  overflow-y: hidden;
}

* {
  text-decoration: none;
  color: #f5f9ff;
  box-sizing: border-box;
  //border: 1px solid #FF2549;
}

.logo {
  display: flex;
  cursor: pointer;
}

.main {
  background-color: #080808;
}

.telegram {
  display: flex;
  justify-content: flex-end;
  z-index: 2;

    img {
      position: fixed;
      bottom: 25px;
      width: 120px;
      height: 120px;
      cursor: pointer;

      @media (max-width: 550px) {
        display: none;
      }
    }
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
