@use 'variables';
@use 'fonts';
@use 'typography';

html[scroll] {
  overflow-y: hidden;
}

* {
  text-decoration: none;
  color: #f5f9ff;
  box-sizing: border-box;
}

.logo {
  display: flex;
  cursor: pointer;
}

.main {
  background-color: #080808;
}


@keyframes scaleWidth {
  0% {
    width: 60px;
    height: 60px;

  }
  100% {
    width: 100px;
    height: 100px;

    box-shadow: 0 0 20px 5px rgba(255, 37, 73, 0.5);
  }
}

.telegram {
  cursor: pointer;
  z-index: 3;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;

  &__last-border {
    position: relative;
    width: 100px;
    height: 100px;
    background: #831628;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    animation: scaleWidth linear infinite alternate 1.2s;
  }


  &__middle-border {
    max-width: 80px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    border-radius: 50px;
    background-color: #C11D38;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__first-border {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #FF2549;
    padding: 20px 18px 18px;
    position: relative;

    img {
      position: absolute;
      max-width: 25px;
      height: 20px;
    }
  }

  @media (max-width: 550px) {
    display: none;
  }
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
